User Requirement 001:
  STATEMENT The system shall provide plugins to communicate
    PRIORITY A

User Requirement 002:
  STATEMENT The system shall be hosted on a dedicated server
    PRIORITY A
    
User Requirement 003:
  STATEMENT The system shall be accessable as a website via browser
    PRIORITY A
    
User Requirement 004:
  STATEMENT The system shall be easy to use
    PRIORITY A
    
User Requirement 005:
  STATEMENT The system shall be extendable
    PRIORITY A

User Requirement 006:
  STATEMENT The system shall allow users to take part in web conferences, where
            they will be able to exchange information using video, voice, text based
            chat, whiteboard and screensharing.
    PRIORITY A

User Requirement 007:
  STATEMENT The conferences shall be recordable(video,voice) or savable(text,whiteboard)
    PRIORITY A

User Requirement 008:
  STATEMENT A member shall be able to open public or private conferences
    PRIORITY A
